{
  "General": {
    "server": {
      "name": "case_dist_server",
      "version": "1.0.0",
      "port": 9911
    }
  },
  "Database": {
    "postgres": {
      "host": "localhost",
      "port": 5432,
      "database": "case_dist_server",
      "user": "case_dist_server_user",
      "password": "ADD_YOUR_PASSWORD_HERE",
      "seed": "/ABSOLUTE/PATH/TO/SEED.sql"
    }
  }
}

